body { 
    background-color: #000000 !important;
    color: #ffffff; 
    margin: 0; 
    padding: 0;
}

/*Nav Bar*/
.custom-nav {
    margin-left: auto;
}
.custom-link {
    font-size: 18px; /* Increase the font size */
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}
.custom-navbar {
    background-color: #000000; /* Black background */
    border-bottom: 2px solid #ffffff; /* White line at the bottom */
}
.custom-navbar .nav-link {
    color: #ffffff; /* White text color */
}
.custom-navbar .nav-link:hover {
    color: #cccccc; /* Optional: Change text color on hover */
}

/*Footer*/
.custom-footer {
    background-color: #000000; /* Black background */
    color: #ffffff; /* White text color */
    border-top: 2px solid #ffffff; /* White line at the top */
    position: fixed; /* Fixes the footer at the bottom */
    left: 0;
    right: 0;
    bottom: 0; /* Positions it at the bottom */
    z-index: 1000; /* Ensure it stays above other content */
}

.custom-footer .nav-link {
    color: #ffffff; /* White icons */
    transition: color 0.3s; /* Smooth transition for hover */
}

.custom-footer .nav-link:hover {
    color: #cccccc; /* Change icon color on hover */
}

/*Contact Form*/
.contact-form {
    width: 300px;
    margin: 40px auto; /* Adds 40px space above and below the form, centers horizontally */
    padding: 20px; /* Adds internal padding inside the form */
    border: 2px solid white; /* Adds a white border around the form */
    border-radius: 10px; /* Rounds the corners of the form */
}


.form-group {
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button {
    background-color: white;
    color: black;
    padding: 5px 10px; /* Add horizontal padding */
    border: none;
    border-radius: 25px; /* Adjust this value for roundness */
    cursor: pointer;
    font-size: 16px; /* Optional: Increase font size */
    font-weight: bold; /* Make the font bold */
}

